:root{
  --primmaryColor:#5d07fc;
}
*{
  /* background-color: aqua !important; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------------------------------------------- */

body{
  background-color: #f7f7f7 !important;
}

/* ---------------------------------------------------------------- */

 a,Link{
  display: inline-block !important;
  text-decoration: none !important;
  background-color: none;
  color: var(--primmaryColor);

}

/* ---------------------------------------------------------------- */

.flex-row{
  display: flex;
  flex-direction:row !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap;
  gap:15px !important;
}
.flex-row-min{
  display: flex;
  flex-direction:row !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap;
  gap:5px !important;
}
/* ---------------------------------------------------------------- */
.flex-row-between{
  display: flex;

  flex-direction:row !important;
  justify-content: space-between !important;
  align-items: center !important;
  /* gap:15px !important; */
}
/* ------------------------------------------------------------- */
.flex-col{
  display: flex;
  flex-direction:column !important;
  justify-content: center !important;
  align-items: center !important;
  gap:15px !important;
}

  /* ====================================================== */


  /* //////////////////////////////// */

 /* NavBar */
 .navbar-con{
  background-color: white !important;
  font-size: 1.2em;


  font-weight: 300;
 }


.nav-links a{
  color: var(--primmaryColor) !important;
  margin-right: 30px !important;

}
.logo-txt{
  color: var(--primmaryColor) !important;
  margin-right: 35vw !important;

}

/* ------------------------------------------------------------- */




  /* ======================================================== */
 .slider-con{
  width: 98% !important;
  margin: 2px auto !important;
  margin-bottom:  1.5rem !important;
  height: 200px !important;
 }
 .slider-img{
  height: 300px;
 }
 
 .slider-con button{
  /* color: var(--primmaryColor) !important; */
  display: inline-block !important;
  margin-top: 1rem !important;
  background-color: var(--primmaryColor) !important;

 }






  /* ======================================================== */
.products-wrapper{
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: center;
  min-width: 270px !important;
  gap: 20px !important;

  margin-top: 7rem !important;
  margin-bottom: 2rem !important;
}
.card-con{
  width: 250px !important;
  min-width: 220px !important;
  cursor: pointer;
  border: none !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  transition: 2s ease;
  min-height: 320px !important;

}
.card-con:hover{
 transform: scale(1.05);
}
.card-con p,h4,h3,h5{
  color:rgb(14, 13, 13) !important;










}
.poster{
  width: 100%;
  height: 150px !important;
}
.card-btn{
  background-color: var(--primmaryColor) !important;
  border: none !important;
}
.product-info-con{
  width: 100vw !important;
  display: flex;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  background-color: #f7f7f7;
  padding: 1rem !important;
  margin-top: 1rem !important;
  min-width: 270px !important;
}
.card-info-con img{
  display: block !important;
  margin-top: 1rem;
}
.cart-btn{
  display: block;
  color: #f7f7f7 !important;
  border-radius: 10px !important;
  margin-top: 10px !important;
  border: none !important;

}
.inc-btn,.dec-btn{
  background-color: white !important;
  border: 1px solid var(--primmaryColor) !important;
}

.form-con{
  padding: 3rem;
min-width: 270px !important;
width: 50%;
margin: 6rem auto;
/* background-color: orchid; */
height: 60vh !important;
border-radius: 15px;
box-shadow: rgba(55, 55, 56, 0.2) 0px 7px 29px 0px !important;
background-color: transparent;

}
.form-link{
  color: var(--primmaryColor);
}